<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luv2code Leader Home Page</title>
</head>
<body>
<h3>Luv2code Leader Home Page</h3>
<hr>
<p>
    See your in Brazil... for our annual leadership retreat!
    <br>
    Keep this trip a secret, dont tell the regular employees LOL :-)
</p>
<hr>
<a th:href="@{/}">Back to Home Page</a>
</body>
</html>